body{
    background-color: gray;
    margin:0;
    padding:0;
}

header{
    position: relative;
    width: 100%;
    height:90px;
    background-color: rgb(52, 52, 167);
}

nav{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
}

.imgDiv{
    position: absolute;
    width: 100px;
    height:90px;
    left: 20;
    border: 2px solid pink;
}

.imgDiv img{
    width: 100px;
    height:100px;
    object-fit: cover;
}

.optionsNav{
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    height:90px;
    border: 4px solid green;
}

.optionsNav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsNav a{
    text-decoration: none;
    color: whitesmoke;
}

.optionsNav li{
    display: inline-block;
    margin: 20px;
}

.optionbutton{
    display: flex;
    position: absolute;
    right: 15px;
    border: 5px orange solid;
    width: 100px;
    height: 85px;
    align-items: center;
    justify-content: center;
}

.optionbutton button{
    width: 95px;
    height: 90px;
}

.centralContent{
    display: flex;
}

section{
    width: 100%;
    background-attachment: fixed;
    min-height: 600px;
    background-image: url(imgs/shipBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: chocolate;
}

article{
    position: relative;
    flex-direction: column;
    background-color: greenyellow;
    width: 100%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    height:fit-content;
}

article p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.logos{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 2px solid black;
}

.logo{
    display: flex;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    border: 4px orange solid;
}

.logo img{
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    background-color: blueviolet;
}

.card{
    display: flex;
    position: relative;
    justify-content: center;
    width: 250px;
    background-color: bisque;
    height: 400px;
    margin: 200px;
    border: 2px red solid;
}

.imgCard{
    position: absolute;
    margin: 20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 2px green solid;
    overflow: hidden;
}

.imgCard img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card h2{
    display: flex;
    position: absolute;
    top: 56%;
    text-align: center;
}

.dropdown{
    display: flex;
    position: relative;
    flex-direction: column;
}

.dropdownContent{
    display: none;
    border-radius: 5%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    position: absolute;
    width: 150px;
    min-height: 100px;
}

.dropdown:hover .dropdownContent{
    display: flex;
}

.dropdownContent ul{
    display: flex;
    margin:0;
    padding:0;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    border: 2px solid orange;
    flex-direction: column;
}

.dropdownContent a{
    color: green;
}

.dropdownContent li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px hotpink solid;
    min-height: 5px;
}