body{
    margin:0;
    padding:0;
    height: 100vh;

    background-image: url('https://i.postimg.cc/GpvTbYLp/ship-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.centralPart{
    margin:0 auto;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 3;
    background: url(logo_livro_atualizado.png) no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
    display: flex;
}


nav{
    position: relative;
    width: 60%;
    display: flex;
    margin: 5% 0;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: orange;
    border: 2px solid black;
}

.optionsNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsNav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding:0;
    gap: 20px;
}

.optionsNav a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}



.dropdown{
    position: relative;
}

.dropdownContent{
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    border-radius: 5%;
    border: 2px solid black;
    z-index: 10;
    background-color: antiquewhite;
}

.dropdownContent ul{
    display: flex;
    margin:0;
    padding:10px;
    list-style: none;
    border: 2px solid orange;
    flex-direction: column;
}

.dropdownContent li{
    margin: 5px 0;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.exibitionCard{
    width: 70%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    border-radius: 8px;
    overflow: hidden;
    background-color: whitesmoke;
}

.ICImg{
    flex: 1 1 60%;
}

.ICImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ICIText{
    flex: 1 1 35%;
    padding: 20px;
    text-align: justify;
    
}


section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10% 0

}

.about{
    width: 28%;
    min-width: 250px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    color:whitesmoke;
    text-align: center;
}

.about img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}


article{
    display: flex;
    justify-content: center;
    margin: 10% 0;
}

#developers{
    background-color: wheat;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
}

#developers h1{
    color: rgb(43, 60, 9);
}

#developers li{
    margin: 15px 0;
    color: blue;
}

.btn{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background-size:contain;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    

}
    .btn-1{
        color:black;
        background-color: red;
        border-radius: 10px;
        border-bottom: 5px solid rgb(189, 0, 0);
        transition: transform 0.5s;
    }
    .btn-1:hover{
        background-color: rgb(253, 58, 58);
        box-shadow: 0px 0px 20px rgb(100, 0, 0);
        transform: translate(0px, -5px);
        transition: transform 0.5s;
    }



footer{
    display: flex;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 12, 12);
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    padding: 40px 20px;
}


@media (max-width: 1024px) {
    nav {
        width: 80%;
    }

    .exibitionCard {
        width: 85%;
        flex-direction: column;
    }

    .ICIText {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    nav {
        width: 90%;
        flex-direction: column;
    }

    .optionsNav ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about {
        width: 70%;
    }

    #developers {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .logo {
        position: static;
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }

    nav {
        width: 95%;
        padding: 15px;
    }

    .exibitionCard {
        width: 95%;
    }

    .ICIText {
        font-size: 10px;
        padding: 10px;
    }

    .about {
        width: 90%;
        padding: 10px;
    }

    footer {
        font-size: 10px;
        padding: 20px;
    }
}
