body{
    margin:0;
    padding:0;
    height: 100vh;

    background-image: url('imgs/shipBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.centralPart{
    margin:0 auto;
    width:100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

nav{
    position: relative;
    width: 50%;
    display: flex;

    margin-top: 5%;
    height:10%;

    box-sizing: border-box;
    text-align: center;
    align-items: center;

    background-color: orange;
    border: 2px solid black;
}

.optionsNav{
    margin:0;
    padding:0;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    height:100%;
}

.optionsNav ul{
    display: flex;
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
}

.optionsNav a{
    text-decoration: none;
    color: gray;
}

.optionsNav li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdownContent{
    display: none;
    top: 100%;
    left: 0;
    border-radius: 5%;
    border: 2px solid black;
    z-index: 10;
    background-color: antiquewhite;
    position: absolute;
    width: max-content;
    height: auto;
}

.dropdownContent ul{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    border: 2px solid orange;
    flex-direction: column;
}

.dropdownContent li{
    border: 3px hotpink solid;
    height: auto;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.exibitionCard{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    height:20%;

    box-sizing: border-box;
    background-color: whitesmoke;
    height: 50%;
}

.ICImg{
    width:50%;
    height: 100%;
}

.ICImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

section{
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.about{
    margin: 0 5% 0 5%;
    background-color:azure;
    width: 25%;
    padding: 20px;
    border-radius: 3%;
    box-sizing: border-box;
    text-align: center;
    height:100%;
}

article{
    display: flex;
    margin-top: 15%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

#developers{
    margin: 40% 0 40% 0;
}

.playGame{
    display: flex;
    background-color: red;
    position: fixed;
    width: 10%;
    height: 9%;
    right: 8%;
    bottom:8%;
}

.playGame:hover{
    cursor: pointer;
}

.about ul{
    list-style: none;
    width: 100%;
    height:auto;
    margin:0;
    padding: 0;
}

.about li{
    margin:15%;
}

.about a{
    text-decoration: none;
    color: rgb(47, 5, 47);
}

footer{
    display: flex;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    background-color: brown;
    flex-direction: column;
    height: 100%;
}