body{
    margin:0;
    padding:0;
    height: 100vh;

    background-image: url('https://i.postimg.cc/GpvTbYLp/ship-Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.centralPart{
    margin:0 auto;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 3;
    background: url(logo_livro_atualizado.png) no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
}


nav{
    position: relative;
    width: 50%;
    display: flex;
    margin: 3% 0;
    height:auto;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: orange;
    border: 2px solid black;
}

.optionsNav{
    margin:0;
    padding:5px;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}

.optionsNav ul{
    display: flex;
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
}

.optionsNav a{
    text-decoration: none;
    color: gray;
}

.optionsNav li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdownContent{
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    border-radius: 5%;
    border: 2px solid black;
    z-index: 10;
    background-color: antiquewhite;
    height: auto;
}

.dropdownContent ul{
    display: flex;
    margin:0;
    padding:0;
    list-style: none;
    border: 2px solid orange;
    flex-direction: column;
}

.dropdownContent li{
    margin: 10px 0;
    font-size: 12px;
    height: auto;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.exibitionCard{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height:100%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.ICImg{
    display: flex;
    position: absolute;
    right: 0%;
    width:65%;
    height: 100%;
    background-color: rgb(224, 200, 171);
    overflow: hidden;
}

.ICImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ICIText{
    display: flex;
    position: absolute;
    left: 1%;
    width:30%;
    height: 100%;
    text-align: center;
}

.ICIText p{
    margin-top: 40%;
}

section{
    display: flex;
    justify-content: space-between;
    margin-top:15%;
    height: 60%;
}

.about{
    display: flex;
    margin: 0 5% 0 5%;
    background-color:transparent;
    width: 25%;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    box-sizing: border-box;
    text-align: center;
    height:100%;
}

.gif{
    width:50%;
    height:auto;
}

article{
    display: flex;
    margin-top: 15%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

#developers{
    background-color: wheat;
    margin: 25% 0;
}

#developers h1{
    color: rgb(43, 60, 9);
}

#developers li{
    color: blue;
}

.btn{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background-size:contain;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    left: 50%;
    

}
    .btn-1{
        color:black;
        background-color: red;
        border-radius: 10px;
        border-bottom: 5px solid rgb(189, 0, 0);
        transition: transform 0.5s;
    }
    .btn-1:hover{
        background-color: rgb(253, 58, 58);
        box-shadow: 0px 0px 20px rgb(100, 0, 0);
        transform: translate(0px, -5px);
        transition: transform 0.5s;
    }

.about{
    color:whitesmoke;
}

.about ul{
    list-style: none;
    width: 100%;
    height:auto;
    margin:0;
    padding: 0;
}

.about li{
    margin:10%;
    color:blue;
}

.about a{
    text-decoration: none;
    color: rgb(47, 5, 47);
    font-size: 14px;
}

footer{
    display: flex;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 12, 12);
    flex-direction: column;
    height: 40%;
    color: whitesmoke;
}

@media (max-width: 768px){
    .centralPart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
    }

    .logo h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    nav{
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: stretch;
        min-height: 100px;
        padding: 20px 0;
        height: auto;
        box-sizing: border-box;
        min-height: 50px;
    }

    .optionsNav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: stretch;
    }

    .optionsNav ul{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin:0;
        padding:0;
        gap: 5px;
    }

    .optionsNav li{
        width: 100%;
        padding: 5px 0;
    }

    .dropdownContent{
        position: absolute;
        width: 100%;
    }

    .exibitionCard{
        width: 90%;
        height: 80%;
    }

    .exibitionCard p{
        margin-top: 15%;
    }

    section{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap:30px;
        height: auto;
        justify-content: space-between;
        margin: 40px 0;
    }

    .about{
        width: 60%;
    }

    article{
        margin-top: 30%;
    }


    footer{
        text-align: center;
    }
}
